service firebase.storage {
  match /b/{bucket}/o {
    match /{userID}/{allPaths=**} {
      allow read, write: if request.auth.uid == userID;
    }
  }
}
