* {
  box-shadow: none !important;
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.row {
  margin-right: -16px !important;
  margin-left: -16px !important;
}
.button-spacer {
  margin-right: 10px !important;
}

/* APP BAR STYLES */
.app-bar {
  position: 'relative';
  background-color: #efefef !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.app-bar-title {
  flex: 1;
  text-align: left;
}
.app-bar-title a {
  color: #000000;
}
.app-bar-title a:hover {
  text-decoration: none;
}

/* OVERVIEW PAGE STYLES */
.splash {
  height: 100vh;
  background-image: url("./assets/splash.jpg");
  background-size: cover;
}
.main-title {
  color: #efefef;
  font-size: 4em;
  text-align: center;
  padding-top: 50vh;
  padding-bottom: 6vh;
  font-family: 'Oswald';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.sub-title {
  color: #efefef;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}
.content-row {
  padding: 5rem 0;
}
.bg-dark {
  background-color: #2e4249;
  color: #efefef;
}
.contain-sign-up {
  background-color: #2e4249;
  padding: 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  color: #efefef;
}
.landing-header {
  font-size: 2rem;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
}

/* FORUM STYLES */
.forum-container {
  padding-top: 6rem;
}
.contain-posts {
  padding: 2rem 0;
}

.post-card {
    margin-bottom: 1rem;
}
.post-card a:hover {
  text-decoration: none;
}
.media {
    height: 140;
}
.card-img {
  height: 200px;
  width: auto;
}
.vote-button {
  width: 24px;
}
img.vote-button:hover {
  cursor: pointer !important;
}
.post-media {
  height: 100%;
  width: 100%;
}
.full-width {
  width: 100%;
}
.post-modal {
  margin-top: 5rem;
}

/*POST BODY STYLES*/
.contain-post-body {
  padding: 2rem;
  background-color: #2e4249;
  color: #efefef;
  margin: 1rem 0;
}
.write-comment {
  border: none;
}